# Coding Interview Challenge 
## Keoshia Grigsby

* This code will be my submission for the interview coding challenge. Although this is typically not the kind of work I would like to hadnd in, this is what time allowed me. 
* There are a couple of questions I have on the values of the index but itself but I will get into that during the later part of the code. 
Well, here it is.

* I started out by importing some main libraries I figured I would need during this project

In [16]:
# first we will import libraries that we think are necessary
import pandas as pd # for dataframes
import numpy as np # for working with arrays
import datetime # This is time series data
from datetime import datetime, timedelta
import matplotlib.pyplot as plt # for visualization uses

* I read in the data frame and took a look at the kind of data I would be working with

In [17]:
df = pd.read_csv('data.csv')

In [18]:
#### The values of the BH&J Index can vary between -1 and 1 where 
#### any value greater than 0 and less than or equal to 1 indicates 
#### that current market conditions favor renting in terms of wealth accumulation 
#### and any value less than 0 and greater than or equal to -1 indicates that current market 
#### conditions favor buying in terms of wealth accumulation. 

df.head(10)

,Unnamed: 0,US,Altanta,Boston,Chicago,Cincinnati,Cleveland,Dallas,Denver,Detroit,...,Milwaukee,Minneapolis,New York City,Philadelphia,Pittsburgh,Portland,San Diego,San Francisco,Seattle,St. Louis
0,1982,0.038166,0.056515,-0.262637,-0.151804,-0.014390,0.001341,0.464405,-0.016567,0.021424,...,-0.186164,-0.007313,-0.234861,-0.209297,-0.163174,-0.227506,-0.144992,-0.250976,-0.241075,-0.126563
1,1982,-0.009580,0.018416,-0.283209,-0.187409,-0.066690,-0.021564,0.399730,-0.036628,-0.073215,...,-0.205161,-0.023453,-0.244954,-0.247952,-0.168843,-0.239691,-0.148623,-0.258868,-0.283081,-0.143542
2,1982,-0.071650,-0.037653,-0.313913,-0.214581,-0.121742,-0.060045,0.339673,-0.052390,-0.168841,...,-0.235097,-0.079159,-0.258629,-0.288564,-0.189251,-0.266344,-0.175981,-0.271745,-0.336818,-0.188011
3,1982,-0.094841,-0.066406,-0.313299,-0.230509,-0.162113,-0.114101,0.288856,-0.092035,-0.190352,...,-0.255821,-0.098422,-0.262211,-0.296882,-0.245939,-0.263679,-0.196076,-0.282752,-0.334926,-0.223586
4,1983,-0.124853,-0.118163,-0.312992,-0.244095,-0.196061,-0.158995,0.251899,-0.125469,-0.203656,...,-0.261002,-0.119247,-0.229977,-0.311561,-0.292423,-0.264059,-0.221981,-0.289398,-0.340603,-0.250267
5,1983,-0.147362,-0.114568,-0.296105,-0.249717,-0.201567,-0.168157,0.256518,-0.154606,-0.238013,...,-0.280000,-0.158814,-0.261559,-0.314986,-0.309430,-0.297566,-0.228033,-0.307882,-0.353091,-0.251075
6,1983,-0.142587,-0.107380,-0.262637,-0.229104,-0.175876,-0.148000,0.267606,-0.156516,-0.241135,...,-0.270789,-0.165061,-0.234861,-0.301775,-0.274283,-0.313558,-0.218107,-0.313698,-0.348550,-0.200947
7,1983,-0.173281,-0.125351,-0.268778,-0.242690,-0.226340,-0.184648,0.215865,-0.178965,-0.259961,...,-0.289786,-0.187448,-0.238768,-0.318411,-0.320767,-0.326123,-0.238444,-0.330313,-0.372391,-0.238139
8,1984,-0.198518,-0.154105,-0.260488,-0.256744,-0.271299,-0.220380,0.183527,-0.200937,-0.276532,...,-0.299573,-0.197860,-0.240396,-0.337494,-0.361583,-0.335261,-0.252244,-0.345889,-0.386015,-0.271289
9,1984,-0.206021,-0.159136,-0.239609,-0.258150,-0.283227,-0.225900,0.182603,-0.211922,-0.288121,...,-0.314540,-0.204629,-0.228023,-0.329665,-0.372920,-0.340211,-0.260717,-0.353989,-0.386772,-0.243799

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     155 non-null    int64
 1   US             155 non-null    float64
 2   Altanta        155 non-null    float64
 3   Boston         155 non-null    float64
 4   Chicago        155 non-null    float64
 5   Cincinnati     155 non-null    float64
 6   Cleveland      155 non-null    float64
 7   Dallas         155 non-null    float64
 8   Denver         155 non-null    float64
 9   Detroit        155 non-null    float64
 10  Honolulu       155 non-null    float64
 11  Houston        155 non-null    float64
 12  Kansas City    155 non-null    float64
 13  Los Angeles    155 non-null    float64
 14  Miami          155 non-null    float64
 15  Milwaukee      155 non-null    float64
 16  Minneapolis    155 non-null    float64
 17  New York City  155 non-null    float64
 18  Philadelphia   155 non-null    float64
 19  Pittsburgh     155 non-null    float64
 20  Portland       155 non-null    float64
 21  San Diego      155 non-null    float64
 22  San Francisco  155 non-null    float64
 23  Seattle        155 non-null    float64
 24  St. Louis      155 non-null    float64
dtypes: float64(24), int64(1)
memory usage: 30.4 KB

* From the article and the webpage we learn a lot about the data. We will mention these throughout the code.  One thing I wanted to point out sense I dont actually get to that part of the code is that the values of this index are in a range of (-1,1) with is also r=the range of the hyperbolic tanget function commonly used in deep learning.  I wanted to see if I could come up with a curve simular to the one from the past using deep learning with tenser flow butI was quite sure that was not the point of this challenge.

* I instead took the mathmetical route and followed along with the document, turing the words into code. 
* I imported some of the data sets I thought were useful. Some of them I couldnt read and didnt havbe time to go and research so I used the ones that made the most sense wiht the data.

* From here on it gets a little messy because of the time constraint, however I will do my best to elplain each part

* I used the zillow house data for home value and rental price further down below. I also used the 30 year morgage rate information for calculations of the equations from the paper

In [20]:

avg_purchase_p = pd.read_csv("Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
m_rate = pd.read_csv("MORTGAGE30US(1).csv")

* Here I had to turn the data around so it was easier for me to work with. I looked at each dataset a nd the information for each

In [21]:
avg_purchase_p.head(10)
avg_purchase_p = avg_purchase_p.T

In [22]:
avg_purchase_p.info()

<class 'pandas.core.frame.DataFrame'>
Index: 281 entries, RegionID to 2022-12-31
Columns: 893 entries, 0 to 892
dtypes: object(893)
memory usage: 1.9+ MB

In [23]:
m_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2706 entries, 0 to 2705
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE          2706 non-null   object
 1   MORTGAGE30US  2706 non-null   float64
dtypes: float64(1), object(1)
memory usage: 42.4+ KB

In [24]:
m_rate.head(10)

         DATE  MORTGAGE30US
0  1971-04-02          7.33
1  1971-04-09          7.31
2  1971-04-16          7.31
3  1971-04-23          7.31
4  1971-04-30          7.29
5  1971-05-07          7.38
6  1971-05-14          7.42
7  1971-05-21          7.44
8  1971-05-28          7.46
9  1971-06-04          7.52

* while reading along with the article I started by creating some of the functions.(downpayment, taxes on the morgage, closing cost, selling fees, property tax, and insurance and maintence)

In [25]:

down_pay = (lambda x: x * .2)(avg_purchase_p.iloc[5: , :][:])
m_tax_price = (lambda x: x * (m_rate["MORTGAGE30US"]/100))(avg_purchase_p.iloc[5: , :][:])
mortage0 = m_tax_price + (down_pay - avg_purchase_p.iloc[5: , :][:])
closing_c = (lambda x: (x * .02)+x)(avg_purchase_p.iloc[5: , :][:])
close_early_c = closing_c = (lambda x: (x * .06)+x)(avg_purchase_p.iloc[5: , :][:])
    
property_tax = (lambda x: x * .015)(avg_purchase_p.iloc[5: , :][:])
insurance_maintenane = (lambda x: x * .02)(avg_purchase_p.iloc[5: , :][:])

* When working with the date it was the index and I know from previous work that i would have to work with those numbers easilyu so I created a function to turn the tables that had dates to workable columns

In [26]:
 def change_dates(data):
        data["date"] = data.index
        data["date"] = pd.to_datetime(data["date"])
        return data
    
    
property_tax = change_dates(property_tax)  
change_dates(m_tax_price)  
change_dates(mortage0)  
change_dates(avg_purchase_p.iloc[5: , :][:])  
change_dates(insurance_maintenane)

,0,1,2,3,4,5,6,7,8,9,...,884,885,886,887,888,889,890,891,892,date
2000-01-31,2556.9,4457.7,4605.46,3350.56,2575.32,2511.2,3806.58,2471.68,2582.66,3067.26,...,NaN,NaN,NaN,NaN,NaN,NaN,2033.48,NaN,NaN,2000-01-31
2000-02-29,2563.8,4484.34,4621.5,3358.46,2577.38,2512.76,3811.42,2480.78,2591.32,3077.46,...,NaN,NaN,NaN,NaN,NaN,NaN,2040.86,NaN,NaN,2000-02-29
2000-03-31,2571.08,4508.3,4646.06,3368.68,2579.1,2510.4,3818.9,2488.92,2596.52,3087.96,...,NaN,NaN,NaN,NaN,NaN,NaN,2053.38,NaN,NaN,2000-03-31
2000-04-30,2585.9,4555.48,4692.76,3389.16,2583.28,2512.76,3834.78,2504.96,2609.44,3109.22,...,NaN,NaN,NaN,NaN,NaN,NaN,2068.24,NaN,NaN,2000-04-30
2000-05-31,2600.84,4599.4,4742.84,3410.86,2587.66,2512.9,3856.84,2518.16,2619.9,3129.98,...,NaN,NaN,NaN,NaN,NaN,NaN,2083.58,NaN,NaN,2000-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,7118.48,12284.16,18492.46,6161.1,7808.34,6234.16,10953.7,9318.92,6722.42,7650.24,...,2634.84,3213.6,2112.46,4964.52,2530.74,7772.32,5741.86,2274.86,1958.44,2022-08-31
2022-09-30,7125.58,12303.7,18299.82,6167.04,7774.56,6241.38,10953.62,9397.22,6745.54,7646.94,...,2654.94,3226.84,2125.56,4991.8,2551.0,7817.0,5787.36,2280.76,1979.96,2022-09-30
2022-10-31,7135.7,12313.24,18107.94,6179.38,7777.16,6253.14,10976.16,9426.1,6777.42,7635.9,...,2677.86,3246.12,2148.42,5019.34,2562.92,7862.74,5822.42,2286.78,1992.96,2022-10-31
2022-11-30,7145.92,12333.62,18015.52,6189.12,7774.08,6265.66,11009.2,9488.1,6822.4,7635.72,...,2672.24,3260.62,2152.56,5064.1,2561.76,7871.78,5714.08,2270.68,1986.58,2022-11-30
2022-12-31,7146.38,12356.98,17957.88,6179.18,7737.06,6259.04,11024.4,9517.08,6861.92,7624.9,...,2660.38,3273.64,2154.56,5096.74,2546.64,7869.06,5584.12,2255.38,1975.44,2022-12-31

In [27]:
mortage0.tail()

,0,1,2,3,4,5,6,7,8,9,...,2697,2698,2699,2700,2701,2702,2703,2704,2705,date
2022-08-31,-258649.9708,-446467.7952,-672108.4587,-223925.1795,-283872.2007,-226362.3496,-397509.773,-338090.4176,-243822.1734,-277244.6976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-31
2022-09-30,-258907.9493,-447177.9765,-665106.9579,-224141.0688,-282644.1288,-226624.5078,-397506.8698,-340931.1416,-244660.7358,-277125.1056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-30
2022-10-31,-259275.6595,-447524.7078,-658133.0793,-224589.5661,-282738.6518,-227051.5134,-398324.8464,-341978.908,-245817.0234,-276725.016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-31
2022-11-30,-259647.0032,-448265.4189,-654774.0744,-224943.5664,-282626.6784,-227506.1146,-399523.868,-344228.268,-247448.448,-276718.4928,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-30
2022-12-31,-259663.7173,-449114.4381,-652679.1486,-224582.2971,-281280.8163,-227265.7424,-400075.476,-345279.6624,-248881.8384,-276326.376,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-31

* This was the one of the complete functions used in the article,

In [28]:
time = input("what date? (XXX-XX-XXX, year, month, date formula)")
r_num = int(input("inout region num (refers to the regions number 0 -895)"))
IM_t = insurance_maintenane[insurance_maintenane["date"] == time][r_num] 
PT_t = property_tax[property_tax["date"] == time][r_num]
principle = mortage0[mortage0["date"] == time][r_num]
interest = m_tax_price[m_tax_price["date"] == time][r_num]
theta_i = float(input("marginal_tax_rate"))

OF_t = int(IM_t + PT_t * (1 - theta_i) + principle + interest*(theta_i))
OF_t

what date? (XXX-XX-XXX, year, month, date formula)2001-01-31
inout region num (refers to the regions number 0 -895)5
marginal_tax_rate.05

-88149

* This next part is a piece of the equation 4 from the article, I needed to create some some of loop to get this answer, its not the neatest, as I didnt get to actually put everything in their prespective functions. 
* However, this shouwed me that when working with ata like this that uses the end of the month but unique month and year it may be easier to work with those objcts rather than messing with the datetime object

In [32]:
purch_p = avg_purchase_p.iloc[5: , :][:]
change_dates(purch_p)

,0,1,2,3,4,5,6,7,8,9,...,884,885,886,887,888,889,890,891,892,date
2000-01-31,127845.0,222885.0,230273.0,167528.0,128766.0,125560.0,190329.0,123584.0,129133.0,153363.0,...,NaN,NaN,NaN,NaN,NaN,NaN,101674.0,NaN,NaN,2000-01-31
2000-02-29,128190.0,224217.0,231075.0,167923.0,128869.0,125638.0,190571.0,124039.0,129566.0,153873.0,...,NaN,NaN,NaN,NaN,NaN,NaN,102043.0,NaN,NaN,2000-02-29
2000-03-31,128554.0,225415.0,232303.0,168434.0,128955.0,125520.0,190945.0,124446.0,129826.0,154398.0,...,NaN,NaN,NaN,NaN,NaN,NaN,102669.0,NaN,NaN,2000-03-31
2000-04-30,129295.0,227774.0,234638.0,169458.0,129164.0,125638.0,191739.0,125248.0,130472.0,155461.0,...,NaN,NaN,NaN,NaN,NaN,NaN,103412.0,NaN,NaN,2000-04-30
2000-05-31,130042.0,229970.0,237142.0,170543.0,129383.0,125645.0,192842.0,125908.0,130995.0,156499.0,...,NaN,NaN,NaN,NaN,NaN,NaN,104179.0,NaN,NaN,2000-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,355924.0,614208.0,924623.0,308055.0,390417.0,311708.0,547685.0,465946.0,336121.0,382512.0,...,131742.0,160680.0,105623.0,248226.0,126537.0,388616.0,287093.0,113743.0,97922.0,2022-08-31
2022-09-30,356279.0,615185.0,914991.0,308352.0,388728.0,312069.0,547681.0,469861.0,337277.0,382347.0,...,132747.0,161342.0,106278.0,249590.0,127550.0,390850.0,289368.0,114038.0,98998.0,2022-09-30
2022-10-31,356785.0,615662.0,905397.0,308969.0,388858.0,312657.0,548808.0,471305.0,338871.0,381795.0,...,133893.0,162306.0,107421.0,250967.0,128146.0,393137.0,291121.0,114339.0,99648.0,2022-10-31
2022-11-30,357296.0,616681.0,900776.0,309456.0,388704.0,313283.0,550460.0,474405.0,341120.0,381786.0,...,133612.0,163031.0,107628.0,253205.0,128088.0,393589.0,285704.0,113534.0,99329.0,2022-11-30
2022-12-31,357319.0,617849.0,897894.0,308959.0,386853.0,312952.0,551220.0,475854.0,343096.0,381245.0,...,133019.0,163682.0,107728.0,254837.0,127332.0,393453.0,279206.0,112769.0,98772.0,2022-12-31

In [35]:

#purchase_date = input("what is the purchase date (XXXX-XX-XX, year-month-day)")
holding_p = int(input("holding period: "))
appr_list = []
purch_p["year"] = purch_p["date"].dt.year
purch_p["month"] = purch_p["date"].dt.month
purch_p.head
o_year = int(input("what year was the purchase"))
o_month = int(input("what month was the purchase"))
val = 0
def a_hp(ppurch_p, o_year, o_month, val):
    for x in range(0,int(holding_p)):
        n_year = o_year+1
        change = int(purch_p[(purch_p["month"] == int(o_month)) & (purch_p["year"] == int(o_year))][0]) - int(purch_p[(purch_p["month"] == o_month) & (purch_p["year"] == n_year)][0])
        A_list = (change / int(purch_p[(purch_p["month"] == int(o_month)) & (purch_p["year"] == int(o_year))][0]))
        #appr_list.append(purch_p[(purch_p["month"] == o_month) & (purch_p["year"] == o_year)][r_num] 
                         #- purch_p[(purch_p["month"] == o_month) & (purch_p["year"] == o_year)][r_num])
        o_year = o_year + 1
        appr_list.append(A_list)
    A = sum(appr_list)
    return A

A_avg = float(sum(appr_list))
A_hp = a_hp(purch_p, o_year, o_month, val)
A_hp

holding period: 4
what year was the purchase2001
what month was the purchase01

-0.3314788455387398

* function 4

In [38]:

price0 = purch_p[(purch_p["month"] == int(o_month)) & (purch_p["year"] == int(o_year))][r_num]
SE = 6
holding_p = float(input("holding period"))
MB_hp = mortage0[mortage0["date"] == purchase_date][r_num] * holding_p
SP_hp = price0*((1+A_hp)**holding_p)*(1-SE)- MB_hp

holding period4

In [39]:
print(SP_hp)
price0

2001-01-31    244126.96762
Name: 5, dtype: object

2001-01-31    128076.0
Name: 5, dtype: object

* I imported the rental averages from zillow here and used the function from above to begin working with the datetime object

In [40]:
rent = pd.read_csv("Metro_zori_sm_month(1).csv") 
#
rent = rent.T
rent = rent.iloc[5: , :][:]
rent = change_dates(rent)

rent

,0,1,2,3,4,5,6,7,8,9,...,486,487,488,489,490,491,492,493,494,date
2015-03-31,1311.959165,2371.695412,1925.055524,1402.921523,1161.731654,1297.574263,1774.899754,1582.673315,1301.906442,1092.081722,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-31
2015-04-30,1322.062319,2390.239699,1938.05981,1415.559115,1172.255965,1305.690845,1784.609474,1589.426926,1307.92577,1101.066378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-30
2015-05-31,1331.874762,2407.674698,1951.263602,1426.659315,1184.271792,1314.737607,1791.654169,1596.298572,1317.283898,1111.097339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-31
2015-06-30,1342.029034,2425.763695,1962.786811,1449.962961,1192.173857,1323.951349,1800.757998,1606.228723,1322.707221,1121.507925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-30
2015-07-31,1348.204067,2434.844754,1978.899355,1456.240522,1198.469735,1329.010026,1804.533377,1613.651663,1326.369972,1130.716393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,1990.621112,3141.708285,2930.629771,1842.028147,1844.543825,1675.1208,2239.121705,2740.492712,1788.137204,1966.881477,...,NaN,NaN,866.27111,867.100238,NaN,721.482502,1456.144895,NaN,NaN,2022-08-31
2022-09-30,1995.946769,3138.787642,2937.995343,1844.769901,1843.759104,1674.273544,2243.756695,2753.441753,1790.304261,1974.585704,...,NaN,NaN,869.608799,895.094093,NaN,718.710829,1582.799111,NaN,NaN,2022-09-30
2022-10-31,1994.088952,3115.914765,2933.546117,1843.35796,1831.681597,1668.991006,2234.491256,2762.545481,1786.134112,1969.033051,...,NaN,1191.477522,865.289252,887.902231,NaN,727.920067,1584.93077,NaN,NaN,2022-10-31
2022-11-30,1985.869006,3084.449038,2924.797421,1837.598605,1817.13576,1660.408906,2215.713437,2774.41714,1780.096583,1958.972059,...,792.01366,1188.867754,854.08679,975.310169,NaN,731.214437,1587.98235,1495.755279,693.832815,2022-11-30
2022-12-31,1980.753447,3062.217042,2916.552972,1838.888337,1802.254987,1654.290082,2198.155746,2770.63382,1776.648539,1953.032795,...,737.5,1192.666667,866.666667,998.611111,1322.5,727.25,1530.555556,1456.25,681.75,2022-12-31

In [ ]:

rent["year"] = rent["date"].dt.year
rent["month"] = rent["date"].dt.month

* This is about as far as I got, it is equation 6 but it is returnnig a series instead of a number which returns nans so that was the next thing to fix.

In [41]:
## IP_hp
##rate of opportunity cost (R) associated with owning in order to span different types of homebuyers
rent["year"] = rent["date"].dt.year
rent["month"] = rent["date"].dt.month
purch_p.head
o_year = int(input("what year was the purchase"))
o_month = int(input("what month was the purchase"))
mort = mortage0[mortage0["date"] == purchase_date][r_num]
#rent0 = rent[rent["date"] == purchase_date]
rent0 = (rent[(rent["month"] == int(o_month)) & (rent["year"] == int(o_year))][r_num])
print(rent0)


IP0 = price0 - mort + closing_c
R = 0
G=.0125
t = 5
print(rent0)
IP_t = IP0 +(R + OF_t - (rent0*(1-G)**t))*(1-.2)

what year was the purchase2001
what month was the purchase12
Series([], Name: 5, dtype: object)
Series([], Name: 5, dtype: object)

* After changing the above to an actual number I would be able to begin ex-post analysis. I didnt quite read how to get the (-1 ,1 ) range from the article which was a little cunfusing. However I didnt quite make it to the end of the index evaluation.

In [ ]:
#class RE_BHJ():
    
   # def init_self():
        
        
   # def change_dates():
    
   # def calculate

# Challenge 2: Power BI Knowledge and Explanation

a) Describe the difference between AVERAGE() and AVERAGEX() in DAX. Explain, using an example,
of when it is important to use each one.

Answer: AVERAGE allowes yo uto calculate the average for a column, AVERAGEX allows calculation for an average of the entire table

escribe the difference between the M language and DAX. Where is each on used in PowerBI?

The M language is a base query language that works within different enviroments. it is run in  the background of powerbi when data is being extracted, transformed, and loaded. DAX is a library of functions created for PowerBI and different models in excel

What is ‘context’ as described in PowerBI? What is the difference between putting filters within
the measure and letting the ‘context’ determine the calculation parameters?

In PowerBI there is row conxext, query context, and filter context.
row context allows for a columns rows to be filled with a formula.inderefers to each row within a column, query context refers to the subset of data retrived for a formnula, and filter context refers to the constraints allowed on values alloed in a colun or table

filters within the measure refer to filters placed on values going into a formula and filter context are constraints for the column or table

# Challenge 3: Good or Bad?

a) Crime and population data

    BAD
    
b) Weather data visulation

    GOOD
    
c) Marketing data visualization

    Good, the y axis could have some sort of index easier to read   insterd of just th K at the end of some numbers

d) Sales data visualization 
    Bad is has no descriptions
    
e) Demographic data visualization
    Bad, again it doesnt really show anything 
    
f) Health statistics visualizatio
    This one is good